html{
    font-weight: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
}

header{
    width: 100%;
    position: absolute;
    color: white;
}

h1{
    color: white;
    font-size: 1rem;
    padding: 2em 1em 2em 1em;
}

h2{
    font-weight: 200;
    padding-bottom: .5em;
}

p{
    font-size: .8em;
}

.banner{
    font-weight: 200;
    color: white;
    width: 100%;
    background: url('images/banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    height: 14em;
    border-top: .5em solid #5586BF;
}

.content-1{
    width: 100%;
    padding: 1em;
}



